AgendaTestDrive.json
{
  "name": "AgendaTestDrive",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "descricao"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "5db4b8c934140544cf402fe7ba6516210919daf75efb6b0f6217385306d6ed82@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Teste Drive - AutoVIP"
        },
        "additionalFields": {
          "description": ""
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        464,
        352
      ],
      "id": "b666a98b-95e8-4c37-9fad-33f3df62f7cc",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ApUjt5MPI2dPfP0I",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HrnXg32YH0YFMq3N3ZynShAtjRCHDK-y4UZqMKCrTeI",
          "mode": "list",
          "cachedResultName": "AutoVIP_Controle",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HrnXg32YH0YFMq3N3ZynShAtjRCHDK-y4UZqMKCrTeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1669536329,
          "mode": "list",
          "cachedResultName": "Novos Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HrnXg32YH0YFMq3N3ZynShAtjRCHDK-y4UZqMKCrTeI/edit#gid=1669536329"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estagio_De_Venda": "TEST_DRIVE"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Modelo Desejado",
              "displayName": "Modelo Desejado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Etapa_Atual",
              "displayName": "Etapa_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estagio_De_Venda",
              "displayName": "Estagio_De_Venda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        352
      ],
      "id": "74e07f60-2f47-416f-a79d-4412c46a8161",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B5LZOCHIdbYouGem",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gerencia@autovip.com",
        "subject": "Test Drive Agendado!",
        "emailType": "text",
        "message": "=Um Test Drive foi Agendado!\n\nDescrição: {{ $('Create an event').item.json.description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        352
      ],
      "id": "2f6c5e7b-29aa-497c-a733-f794ba5d8ad3",
      "name": "Send a message",
      "webhookId": "f6703a35-08c5-4794-a078-114ff7a5bd5b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        352
      ],
      "id": "c06cb75e-0252-46bb-a0dc-ea49711c122b",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c5dc56f9-b317-4eb0-a8a8-b850dd0c20fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea69296a4367270770c843a5295a66f19caf4aaeea52f4154a0893ab7d5f5380"
  },
  "id": "siGFOvLoElfVGJFt",
  "tags": []
}